* {
  /* background-color: rgba(0,255,255,.1); */
  box-sizing: border-box;
}
.App {
  margin: 0 auto;;
  max-width: 800px;
  min-width: 350px;
  text-align: center;
}
.todo-container > ul {
  list-style: none;
  padding: 0;
}
.todo-container > ul > li{
  border: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin-top: -1.255x;
  padding-left: 1rem;
}

form {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
form > input {
  border: 1px solid lightgray;
  height: 3rem;
  margin: 0;
  padding-left: 1rem;
  width: 100%;
}

form > button {
  background-color: lightgray;
  border-radius: 0;
  border: 0;
  font-size: .75rem;
  font-weight: bold;
  letter-spacing: .25rem;
  text-transform: uppercase;
  width: 5.5rem;
}

.del-button {
  background-color: orange;
  border: 0;
  color: white;
  font-size: .5rem;
  font-weight: bold;
  height: 3rem;
  letter-spacing: .25rem;
  text-transform: uppercase;
  width: 5rem;
}

.todo-item {
  display: flex;
  align-items: center;
}