* {
  /* background-color: rgba(0,255,255,.1); */
  box-sizing: border-box;
}
/***********************************************
APP
***********************************************/
.app__container {
  border-radius: 1rem;
  border: 1px solid gray;
  margin: 2rem auto;
  max-width: 800px;
  min-width: 350px;
  padding: 1rem;
  text-align: center;
}
.app__title{
  font-size: 3rem;
}
/***********************************************
TODO FORM
***********************************************/
.form__input {
  border-radius: 1rem;
  border: 1px solid gray;
  padding: 0 2rem
}
.form__input:focus {
  border: 1px solid gray;
  outline: 2px solid gray;
}

.todo__container__table {
  list-style: none;
  padding: 0;
}

.todo__container__table > li{
  border: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin-top: -1.255x;
  padding-left: 1rem;
}

.todo__form {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
.todo__form  > input {
  border: 1px solid lightgray;
  height: 3rem;
  margin: 0;
  padding-left: 1rem;
  width: 100%;
}

/***********************************************
TODO ITEM
***********************************************/
.todoItem__del {
  background-color: rgb(133, 8, 8);
  border: 0;
  color: white;
  cursor: pointer;
  font-size: .5rem;
  font-weight: bold;
  height: 3rem;
  letter-spacing: .25rem;
  text-transform: uppercase;
  width: 5rem;
}

.todo__li {
  display: flex;
  align-items: center;
}

.todoItem__span {
  cursor: pointer;
}
.todoItem__span-isStruck {
  color: gray;
  text-decoration: line-through;
}

/***********************************************
Loading Animation
From uiverse.io by @G4b413l 
***********************************************/
.dot-wave {
  --uib-size: 50px;
  --uib-speed: 0.6s;
  --uib-color: #0d0909;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  width: var(--uib-size);
  height: calc(var(--uib-size) * 0.17);
  padding-top: calc(var(--uib-size) * 0.34);
}

.dot-wave__dot {
  flex-shrink: 0;
  width: calc(var(--uib-size) * 0.17);
  height: calc(var(--uib-size) * 0.17);
  border-radius: 50%;
  background-color: var(--uib-color);
  will-change: transform;
}

.dot-wave__dot:nth-child(1) {
  animation: jump824 var(--uib-speed) ease-in-out
    calc(var(--uib-speed) * -0.45) infinite;
}

.dot-wave__dot:nth-child(2) {
  animation: jump824 var(--uib-speed) ease-in-out
    calc(var(--uib-speed) * -0.3) infinite;
}

.dot-wave__dot:nth-child(3) {
  animation: jump824 var(--uib-speed) ease-in-out
    calc(var(--uib-speed) * -0.15) infinite;
}

.dot-wave__dot:nth-child(4) {
  animation: jump824 var(--uib-speed) ease-in-out infinite;
}

@keyframes jump824 {
  0%,
  100% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-200%);
  }
}
